section[data-testid="stSidebar"] {
  /* display: flex; */
  flex-direction: column;
}
section[data-testid="stSidebar"] > div {
  flex: 1;
}
section[data-testid="stSidebar"] div.stButton button {
  width: 15%;
  position: fixed;
  bottom: 20px;
  /* margin-left: 5%; */
}
